:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  color: white;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  width: 100%;
  background-color: #674baf;
  background-image: url("../images/bg-mobile.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2.3em 2.3em 0.5em 2.3em;
}

.logo-wrapper .logo {
  width: 8em;
}

.marketing-illustration {
  width: 100%;
}

.marketing-message {
  margin-top: 3em;
}
.marketing-message .message-title {
  font-size: 1.3em;
  line-height: 1.2em;
  font-weight: bold;
  text-align: center;
}
.marketing-message .message-title span {
  display: block;
}
.marketing-message .message-title span + span {
  margin-top: 0.5em;
}
.marketing-message .message-text {
  text-align: center;
}
.marketing-message .button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marketing-message .button-wrapper .btn-register {
  border: none;
  background-color: #fff;
  color: #674baf;
  padding: 15px;
  width: 80%;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 6px -3px #3d0f3d;
  -moz-box-shadow: 0px 4px 6px -3px #3d0f3d;
  box-shadow: 0px 4px 6px -3px #3d0f3d;
}

.social-links-wrapper {
  margin-top: 4em;
  display: flex;
  justify-content: center;
}
.social-links-wrapper .social-icon + .social-icon {
  margin-top: 0;
}
.social-links-wrapper .social-icon {
  margin-right: 11px;
}
.social-links-wrapper .social-icon:last-child {
  margin-right: 0;
}
.social-links-wrapper .social-icon .fab {
  padding: 9px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 50%;
}

footer {
  margin-top: 4em;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: white;
}
footer .attribution span {
  display: block;
}
footer .attribution span + span {
  margin-top: 0;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) {
  .container {
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
    padding: 3.5em 3.5em 1em 3.5em;
  }

  .logo-wrapper .logo {
    width: 12em;
  }

  main {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
  }

  .marketing-illustration {
    flex: 40%;
  }

  .marketing-message {
    flex: 40%;
    margin-top: 0;
    padding: 2em 2em 2em 4em;
  }
  .marketing-message .message-title {
    font-size: 2em;
    text-align: left;
  }
  .marketing-message .message-text {
    font-size: 1em;
    text-align: left;
  }
  .marketing-message .button-wrapper {
    justify-content: flex-start;
    margin-top: 0;
  }
  .marketing-message .button-wrapper .btn-register {
    max-width: 35%;
  }

  .social-links-wrapper {
    justify-content: flex-end;
  }
  .social-links-wrapper .social-icon .fab {
    padding: 8px;
    font-size: 13px;
  }

  footer {
    margin-top: 2em;
  }
  footer .attribution span {
    display: inline;
  }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 5em 5em 1em 5em;
  }

  .logo-wrapper .logo {
    width: 20em;
  }

  main {
    margin-top: 8em;
  }

  .marketing-message {
    margin-top: 10em;
  }
  .marketing-message .message-title {
    font-size: 2.88em;
  }
  .marketing-message .message-text {
    font-size: 1.8em;
    line-height: 1.6em;
    margin-bottom: 2em;
  }
  .marketing-message .button-wrapper .btn-register {
    padding: 17px;
    max-width: 60%;
    font-size: 1.2em;
  }

  .social-links-wrapper .social-icon .fab {
    padding: 12px;
    font-size: 16px;
  }

  footer {
    margin-top: 8em;
  }
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    padding: 5em 5em 1em 5em;
  }

  .logo-wrapper .logo {
    width: 20em;
  }

  main {
    margin-top: 8em;
  }

  .marketing-message {
    margin-top: 10em;
  }
  .marketing-message .message-title {
    font-size: 3.2em;
  }
  .marketing-message .message-text {
    font-size: 1.8em;
    line-height: 1.6em;
    margin-bottom: 2em;
  }
  .marketing-message .button-wrapper .btn-register {
    padding: 17px;
    max-width: 50%;
    font-size: 1.2em;
  }

  .social-links-wrapper .social-icon .fab {
    padding: 12px;
    font-size: 16px;
  }

  footer {
    margin-top: 8em;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    padding: 3.5em 4em 2em 4em;
  }

  .logo-wrapper .logo {
    width: 11em;
  }

  main {
    margin-top: 5em;
  }

  .marketing-message {
    margin-top: 6em;
  }
  .marketing-message .message-title {
    font-size: 2.2em;
  }
  .marketing-message .message-text {
    font-size: 1.2em;
  }
  .marketing-message .button-wrapper .btn-register {
    padding: 15px;
    max-width: 70%;
    font-size: 1em;
  }

  .social-links-wrapper .social-icon .fab {
    padding: 10px;
    font-size: 16px;
  }
}
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  .marketing-message .button-wrapper .btn-register {
    padding: 15px;
    max-width: 50%;
    font-size: 1em;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .marketing-message {
    margin-top: 2em;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  main {
    margin-top: 3em;
  }

  .marketing-message {
    margin-top: 3.5em;
  }
  .marketing-message .message-title {
    font-size: 1.5em;
  }
  .marketing-message .message-text {
    font-size: 1.1em;
  }
}

/*# sourceMappingURL=styles.css.map */
