// Primary Color
$violet: hsl(257, 40%, 49%);


// Typography for Headings
$title-font: 'Poppins', sans-serif;

// Typography for Body
$body-font: 'Open Sans', sans-serif;

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.5em;
  color: #fff;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: $title-font;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  width: 100%;
  background-color: $violet;
  background-image: url("../images/bg-mobile.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2.3em 2.3em 0.5em 2.3em;
}

.logo-wrapper {

    .logo {
      width: 8em;
    }
}

.marketing-illustration {
  width: 100%;
}

.marketing-message {
  margin-top: 3em;

    .message-title {
      font-size: 1.3em;
      line-height: 1.2em;
      font-weight: bold;
      text-align: center;

        span {
          display: block;
        }

        span + span {
          margin-top: 0.5em;
        }
    }

    .message-text {
      text-align: center;
    }

    .button-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

        .btn-register {
          border: none;
          background-color: #fff;
          color: $violet;
          padding: 15px;
          width: 80%;
          font-size: 0.9em;
          text-align: center;
          text-decoration: none;
          border-radius: 25px;
          cursor: pointer;
          -webkit-box-shadow: 0px 4px 6px -3px rgba(61,15,61,1);
          -moz-box-shadow: 0px 4px 6px -3px rgba(61,15,61,1);
          box-shadow: 0px 4px 6px -3px rgba(61,15,61,1);
        }
    }
}

.social-links-wrapper {
      margin-top: 4em;
      display: flex;
      justify-content: center;


      .social-icon + .social-icon {
        margin-top: 0;
      }

      .social-icon {
        margin-right: 11px;

          &:last-child {
            margin-right: 0;
          }
      }

      .social-icon .fab {
        padding: 9px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        border: 1px solid #fff;
        border-radius: 50%;
      }
    }

footer {
  margin-top: 4em;
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .attribution span {
     display: block;
  }

  .attribution span + span {
     margin-top: 0;
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
// @media (min-width: 1025px) and (max-width: 1280px)

@media (min-width: 1025px) {

  .container {
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
    padding: 3.5em 3.5em 1em 3.5em;
  }

  .logo-wrapper {

      .logo {
        width: 12em;
      }
  }

  main {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
  }

  .marketing-illustration {
    flex: 40%;
  }

  .marketing-message {
    flex: 40%;
    margin-top: 0;
    padding: 2em 2em 2em 4em;

      .message-title {
        font-size: 2em;
        text-align: left;
      }

      .message-text {
        font-size: 1em;
        text-align: left;
      }

      .button-wrapper {
        justify-content: flex-start;
        margin-top: 0;

          .btn-register {
            max-width: 35%;
          }
      }
  }

  .social-links-wrapper {
    justify-content: flex-end;

    .social-icon .fab {
      padding: 8px;
      font-size: 13px;
    }
  }

  footer {
    margin-top: 2em;

      .attribution span {
        display: inline;
      }
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .container {
    padding: 7em 8em 1em 8em;
  }

  .logo-wrapper {

      .logo {
        width: 20em;
      }
  }

  main {
    margin-top: 8em;
  }

  .marketing-message {
    margin-top: 10em;

      .message-title {
        font-size: 2.88em;
      }

      .message-text {
        font-size: 1.8em;
        line-height: 1.6em;
        margin-bottom: 2em;
      }

      .button-wrapper {

          .btn-register {
            padding: 17px;
            max-width: 60%;
            font-size: 1.2em;
          }
      }
  }

  .social-links-wrapper {

    .social-icon .fab {
      padding: 12px;
      font-size: 16px;
    }
  }

  footer {
    margin-top: 8em;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .container {
    padding: 7em 8em 1em 8em;
  }

  .logo-wrapper {

      .logo {
        width: 20em;
      }
  }

  main {
    margin-top: 8em;
  }

  .marketing-message {
    margin-top: 10em;

      .message-title {
        font-size: 4em;
      }

      .message-text {
        font-size: 1.8em;
        line-height: 1.6em;
        margin-bottom: 2em;
      }

      .button-wrapper {

          .btn-register {
            padding: 17px;
            max-width: 60%;
            font-size: 1.2em;
          }
      }
  }

  .social-links-wrapper {

    .social-icon .fab {
      padding: 12px;
      font-size: 16px;
    }
  }

  footer {
    margin-top: 8em;
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .container {
    padding: 3.5em 4em 2em 4em;
  }

  .logo-wrapper {

      .logo {
        width: 11em;
      }
  }

  main {
    margin-top: 5em;
  }

  .marketing-message {
    margin-top: 6em;

      .message-title {
        font-size: 2.2em;
      }

      .message-text {
        font-size: 1.2em;
      }

      .button-wrapper {

          .btn-register {
            padding: 15px;
            max-width: 70%;
            font-size: 1em;
          }
      }
  }

  .social-links-wrapper {

    .social-icon .fab {
      padding: 10px;
      font-size: 16px;
    }
  }
}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .marketing-message {
    margin-top: 2em;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {

  main {
    margin-top: 3em;
  }

  .marketing-message {
    margin-top: 3.5em;

      .message-title {
        font-size: 1.5em;
      }

      .message-text {
        font-size: 1.1em;
      }
  }
}
